<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--Device Config-->
    <add key="TrelloRootURL" value="https://api.trello.com/" />
    <add key="TrelloBoardId" value="boardId value" />
    <add key="TrelloKey" value="key value" />
    <add key="TrelloToken" value="token value" />
    
    <!--Trello Config-->
    <add key="TrelloGetListAPI" value="1/boards/{boardId}/lists?{keyToken}" />
    <add key="TrelloGetLabelAPI" value="1/boards/{boardId}/labels?{keyToken}" />

    <!--Card-->
    <add key="TrelloGetCardAPI" value="1/boards/{boardId}?{keyToken}&amp;cards=all&amp;card_customFieldItems=true" />
    <add key="TrelloMoveCardToOtherList" value="1/cards/{cardId}?{keyToken}&amp;idList={idList}" />
    <add key="TrelloUpdateCard" value="1/cards/{cardId}?{keyToken}" />
    <add key="TrelloCardCreateNew" value="1/cards?{keyToken}" />
    <add key="TrelloUpdateCustomField" value="1/cards/{cardId}/customField/{customFieldId}/item?{keyToken}" />
    
    <!--CustomField-->
    <add key="TrelloCustomFieldGetAll" value="1/boards/{boardId}/customFields?{keyToken}" />
  </appSettings>
</configuration>